*{
    margin: 0;
  }

/* Navbar start */

.navbar {
    width: 100%;
    height: 91px;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFACD;
    z-index: 1000;
  }
  
  
  .logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 108px;
  }
  
  .logo h2 {
    color: #8B4513;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 1.6rem 0;
  }
  
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 28%;
    top: 35px;
  }
  
  .menu a {
    color: #8B4513;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 15px 0 15px;
    text-decoration: none;
  }
  
  .search {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 326px;
    top: 35px;
  }
  
  .shopmenu {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      right: 326px;
      top: 35px;
  }
  
  .shopmenu a {
      margin: 0 10px 0 10px;
  }
  
  .button {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      right: 108px;
      top: 22px;
  }
  
  .button a {
      text-decoration: none;
  }
  
  .button .login{
      border-radius: 8px;
      border: 1px solid #FF6347;
      color: #FF6347;
      text-align: center;
      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 10px;
      margin-right: 20px;
  }
  
  .account {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 24px;
      right: 20%;
  }
  
  .account p {
      cursor: pointer;
      position: absolute;
      top: -8px;
      right: -100px;
      color: #8B4513;
      text-align: center;
      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }
  
  .account img {
      position: absolute;
      width: 45px;
      height: 45px;
      top: 0;
      left: 129px;
      border-radius: 45px;
      object-fit: cover;
  }
  
  .login:hover, .login:focus {
      background-color: #FF6347;
      color: white;
  }
  
  .button .register{
      border-radius: 8px;
      background: #FF6347;
      border: 1px solid #FF6347;
      color: #FFF;
      text-align: center;
      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 10px;
  }
  
  .register:hover, .register:focus {
      background-color: #d14f38;
  }

/* Navbar end */

/* Section1 start */

.section1 {
    height: 656px;
    background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
    padding: 90px 0 0 0;
    margin: 0;
}

.add-chart {
    background-color: #FF6347;
    width: 135px;
    height: 44px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-chart:hover, .add-chart:focus {
    background-color: #d14f38;
}

.desc {
    opacity: 0;
    flex-direction: column;
    position: absolute;
    left: 135px;
    padding: 80px 0 0 0;
    transition: ease 0.5s;
}

.desc.selected {
    opacity: 1;
}

.desc h1 {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 422px;
    height: 112px;
    margin: 5px 0 5px 0;
}

.desc p {
    color: rgba(0, 0, 0, 0.65);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 448px;
    height: 48px;
    margin: 5px 0 5px 0;
}

.desc h3 {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 120px;
    height: 28px;
    margin: 15px 0 15px 0;
}

.btn {
    display: flex;
    position: absolute;
    left: 135px;
    top: 475px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 135px;
    top: 160px;
    width: 360px;
    height: 360px;
    border-radius: 360px;
    background: linear-gradient(320deg, #FFA500 15.18%, #FFF1DB 71.58%);
}

.cirle img {
    filter: drop-shadow(20px 20px 10px grey);
}

.iconSelector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 115px;
    top: 580px;
    width: 400px;
    height: 64px;
}

.productIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 64px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

.productIcon .icon {
    width: 76px;
    height: 60px;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
    border: none;
}

.productIcon .icon:hover, .productIcon .icon:focus, .productIcon .icon.selected {
    background: linear-gradient(90deg, #F3E7E9 0%, #EFEEF5 100%);
}

.icon img {
    width: 68px;
}

/* Section1 end */

/* Section2 start */

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 646px;
    background: rgba(139, 69, 19, 0.64);
    padding: 0 0 0 0;
    margin: 0;
}

.group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    width: 1300px;
    height: 417px;
}

.section2 h3{
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: flex-start;
    margin-left: 85px;
}
  
.produk-pilihan {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 417px;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
}
  
.rectangle {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 298px;
    background-color: #0000000a;
}

.rectangle img {
    width: 205px;
    height: 204px;
}
  
.frame {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100px;
    align-self: stretch;
    position: relative;
}
  
.title {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    color: #000000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
  
.prod-desc {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto
}

.price {
    position: relative;
    flex: 1;
    color: #000000a6;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
  
.star {
    position: relative;
    width: 22px;
    height: 22px;
}
  
.rating {
    position: relative;
    width: 26px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 24px;
}

.show {
    width: 164px;
    height: 21px;
    display: flex;
    align-self: end;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 85px 0 0;
    text-decoration: none;
}

.showtext {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 5px 0 0;
}

.next {
    width: 14px;
    height: 14px;
}

/* Section2 end */

/* Section3 start */

.section3 {
    height: 646px;
    padding: 0 0 0 0;
    margin: 0;
}

/* Section3 end */

/* Footer start */

.footer {
    height: 415px;
    background: #FFFACD;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footLine {
    width: 1184px;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
    margin: 15px 0 50px 0;
}

.footNav {
    width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuBox {
    color: #161615;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.menuBox a {
    color: inherit;
    text-decoration: none;
}

#payment, #deliver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 47px;
    height: 29px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040;
}

.grid img {
    width: 40px;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.diskon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 566px;
}

.diskon p {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.diskon .socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    width: 32px;
    height: 32px;
    background-color: #0000000a;
    border-radius: 8px;
}

.diskon .socmed img{
    width: 16px;
    height: 16px;
}

.support {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 322px;
}

.support p {
    color: rgba(0, 0, 0, 0.65);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}

.copyright {
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 296px;
}

/* Footer end */

  
h1{
    font-family: "Roboto";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

h2{
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    }

h3{
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

h4{
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5{
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h6{
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

p{
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.boxx{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 40px;
    padding: 150px 100px 100px 100px;
}

.alamatbox {
    background-color: #ffffff;
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 70%;
  }

  .option{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .line{
    background-color: #dfe1e5;
    height: 0.1rem;
    width: 100%;
  }
  
  .opsi{
    display: flex;
    flex-direction: row;
    height: 180px;
    justify-content: space-between;
    
  }
  .opsi1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .identity{
    gap: 10px;
    color: #000000;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 500;
    white-space: nowrap;
  }

  .change{
    gap: 10px;
    justify-content: end;
    color: #000000;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 500;
    white-space: nowrap;
  }
  
  .alamat {
    color: #000000;
    display: flex;
    font-family: 'Poppins', 'Source Sans Pro';
    line-height: 1.5;
  }

  .tambah {
    align-items: center;
    background-color: #8b4513;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    font-family: 'Poppins', 'Source Sans Pro';
    font-weight: 500;
    height: 32px;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
    width: 180px;
  }
  
  .utama {
    align-items: center;
    border: solid 0.1rem #8b4513;
    box-sizing: border-box;
    color: #8b4513;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 400;
    height: 32px;
    justify-content: center;
    line-height: 1.5;
    white-space: nowrap;
    width: 6.9rem;
  }

  .utama-hidden, .atur-hidden, .hapus-hidden {
    display: none;
  }
  
  .atur {
    align-items: center;
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'Poppins', 'Source Sans Pro';
    height: 32px;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    width: 180px;
    text-decoration: none;
  }
  .ubah {
    color: #2252ff;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 400;
    height: 32px;
    line-height: 1.5;
    white-space: nowrap;
    text-decoration: none;
  }
  .hapus{
    color: #2252ff;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 400;
    height: 32px;
    line-height: 1.5;
    white-space: nowrap;
    text-decoration: none;
  }

  /* rawr kiri */
  .navigasi {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 3.4rem 3.2rem 11.5rem 3.2rem;
    width: 30%;
  }
    .profpic {
      background-image: url('neg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 7.75rem;
      flex-shrink: 0;
      height: 100px;
      margin: 0rem 4.6rem 1.3rem 4.5rem;
      width: 100px ;
    }
    .nav-menu {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
    }

    /* Accordion */

    .acc {
        align-items: center;
        color: #8b4513;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        font-family: 'Poppins', 'Source Sans Pro';
        font-weight: 500;
        height: 30px;
        justify-content: center;
        line-height: 1.5;
        white-space: nowrap;
        width: 100%;

      }
      
      #active {
        align-items: center;
        background-color: #fffacd;
        color: #8b4513;
        height: 30px;
        width: 100%;
      }
      
    .accordion {
        background: #FFF;
        align-items: center;
        justify-content: center;
        color: #8b4513;
        font-weight: 500;
        height: 30px;
        cursor: pointer;
        flex-shrink: 0;
        white-space: nowrap;
        width: 100%;
    }

    .accordion .accordion-content {
        margin: 10px 0;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .accordion-content.open {
        padding-bottom: 10px;
    }

    .accordion-content header {
        display: flex;
        min-height: 30px;
        padding: 0 15px;
        cursor: pointer;
        transition: all 0.2s linear;
    }

    .accordion-content.open header {
        min-height: 35px;
    }

    .accordion-content header .title {
        color: #8b4513;
        font-weight: 500;
        height: 30px;
    }

    .accordion-content .description {
        height: 0;
        padding: 0 15px;
        transition: all 0.2s linear;
    }

    .accordion-content .description a{
        height: 0;
        color: #8b4513;
        font-weight: 500;
        height: 30px;
        width: 100%;
        padding: 0 15px;
        transition: all 0.2s linear;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Input and Button Styles */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #FF6347;;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF6347;;
  }
  
  /* Close Button Hover Effect */
  .close:hover {
    color: #999;
  }
  