*{
    margin: 0;
  }
  h1{
    font-family: "Roboto";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  
  h2{
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    }
  
  h3{
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
  
  h4{
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  h5{
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  h6{
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  
  }
  
  p{
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  
  .boxx{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 40px;
    padding: 150px 100px 100px 100px;
  }
  
  
  /* Navbar start */
  
  .navbar {
    width: 100%;
    height: 91px;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFACD;
  }
  
  
  .logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 108px;
  }
  
  .logo h2 {
    color: #8B4513;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin: 1.6rem 0;
  }
  
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 28%;
    top: 35px;
  }
  
  .menu a {
    color: #8B4513;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 15px 0 15px;
    text-decoration: none;
  }
  
  .search {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 326px;
    top: 35px;
  }
  
  .shopmenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 326px;
    top: 35px;
  }
  
  .shopmenu a {
    margin: 0 10px 0 10px;
  }
  
  .button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 108px;
    top: 22px;
  }
  
  .button a {
    text-decoration: none;
  }
  
  .button .login{
    border-radius: 8px;
    border: 1px solid #FF6347;
    color: #FF6347;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    margin-right: 20px;
  }
  
  .account {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 20%;
  }
  
  .account p {
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -100px;
    color: #8B4513;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.4rem 0;
  }
  
  .account img {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 129px;
    border-radius: 45px;
    object-fit: cover;
  }
  
  .login:hover, .login:focus {
    background-color: #FF6347;
    color: white;
  }
  
  .button .register{
    border-radius: 8px;
    background: #FF6347;
    border: 1px solid #FF6347;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
  }
  
  .register:hover, .register:focus {
    background-color: #d14f38;
  }
  
  
  /* Navbar end */
  
  /* Footer start */
  
  .footer {
      height: 415px;
      width: 100%;
      background: #FFFACD;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .footLine {
      width: 1184px;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      margin: 15px 0 50px 0;
  }
  
  .footNav {
      width: 1184px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .menuBox {
      color: #161615;
      font-family: "Poppins";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.48px;
  }
  
  .menuBox a {
      color: inherit;
      text-decoration: none;
  }
  
  #payment, #deliver{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }
  
  .grid a {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 47px;
      height: 29px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 4px 4px #00000040;
  }
  
  .grid img {
      width: 40px;
  }
  
  .bottom {
      display: flex;
      flex-direction: row;
      margin-top: 32px;
  }
  
  .diskon {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 566px;
  }
  
  .diskon p {
      margin-right: 5px;
      color: rgba(0, 0, 0, 0.65);
      font-family: "Poppins";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.48px;
  }
  
  .diskon .socmed {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px 0 5px;
      width: 32px;
      height: 32px;
      background-color: #0000000a;
      border-radius: 8px;
  }
  
  .diskon .socmed img{
      width: 16px;
      height: 16px;
  }
  
  .support {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 322px;
  }
  
  .support p {
      color: rgba(0, 0, 0, 0.65);
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-left: 10px;
  }
  
  .copyright {
      display: flex;
      justify-content: right;
      align-items: center;
      color: rgba(0, 0, 0, 0.65);
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      width: 296px;
  }
  
  /* Footer end */
  
  /* rawr kiri */
  .navigasi {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 3.4rem 3.2rem 11.5rem 3.2rem;
    width: 30%;
  }
    .profpic {
      background-image: url('neg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 7.75rem;
      flex-shrink: 0;
      height: 100px;
      margin: 0rem 4.6rem 1.3rem 4.5rem;
      width: 100px ;
    }
    .nav-menu {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
    }
  
    /* Accordion */
  
    .acc {
        align-items: center;
        color: #8b4513;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        font-family: 'Poppins', 'Source Sans Pro';
        font-weight: 500;
        height: 30px;
        justify-content: center;
        line-height: 1.5;
        white-space: nowrap;
        width: 100%;
  
      }
      
      #active {
        align-items: center;
        background-color: #fffacd;
        color: #8b4513;
        height: 30px;
        width: 100%;
      }
      
    .accordion {
        background: #FFF;
        align-items: center;
        justify-content: center;
        color: #8b4513;
        font-weight: 500;
        height: 30px;
        cursor: pointer;
        flex-shrink: 0;
        white-space: nowrap;
        width: 100%;
    }
  
    .accordion .accordion-content {
        margin: 10px 0;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
  
    .accordion-content.open {
        padding-bottom: 10px;
    }
  
    .accordion-content header {
        display: flex;
        min-height: 30px;
        padding: 0 15px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
  
    .accordion-content.open header {
        min-height: 35px;
    }
  
    .accordion-content header .title {
        color: #8b4513;
        font-weight: 500;
        height: 30px;
    }
  
    .accordion-content .description {
        height: 0;
        padding: 0 15px;
        transition: all 0.2s linear;
    }
  
    .accordion-content .description a{
        height: 0;
        color: #8b4513;
        font-weight: 500;
        height: 30px;
        width: 100%;
        padding: 0 15px;
        transition: all 0.2s linear;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  
    .databox {
      background-color: #ffffff;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      width: 70%;
    }
  
    .opsi1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .option{
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .line{
      background-color: #dfe1e5;
      height: 0.1rem;
      width: 100%;
    }
  
        .pilih {
          border: solid 0.1rem rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          height: 40px;
          width: 140px;
          box-sizing: border-box;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .change{
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
  
  
  /* end */
      
      .user-TMo {
        height: 13.1rem;
        left: 119.7rem;
        object-fit: contain;
        position: absolute;
        top: 48.6rem;
        vertical-align: top;
        width: 13.6rem;
      }
      .name11-xJZ {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 68.1rem;
        line-height: 1.5;
        position: absolute;
        top: 50rem;
        white-space: nowrap;
        width: 6.7rem;
      }
      .rectangle-288-p5s {
        border: solid 0.1rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: 3rem;
        left: 67.3rem;
        position: absolute;
        top: 49.8rem;
        width: 45rem;
      }
      .username11-Jmj {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 67.3rem;
        line-height: 1.5;
        position: absolute;
        top: 43.9rem;
        white-space: nowrap;
        width: 10.5rem;
      }
      .ugmailcom-7UH {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 67.3rem;
        line-height: 1.5;
        position: absolute;
        top: 56.2rem;
        white-space: nowrap;
        width: 20.5rem;
      }
      .laki-laki-zHB {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 70.2rem;
        line-height: 1.5;
        position: absolute;
        top: 68.9rem;
        white-space: nowrap;
        width: 7.8rem;
      }
      .perempuan-fu7 {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 84.9rem;
        line-height: 1.5;
        position: absolute;
        top: 68.9rem;
        white-space: nowrap;
        width: 10.6rem;
      }
      .item-89-ZDo {
        color: #000000;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.7rem;
        left: 67.3rem;
        line-height: 1.5;
        position: absolute;
        top: 62.5rem;
        white-space: nowrap;
        width: 11.1rem;
      }
      .ubah-3em {
        color: #2252ff;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2.4rem;
        left: 78.7rem;
        line-height: 1.5;
        position: absolute;
        text-decoration-line: underline;
        top: 62.5rem;
        white-space: nowrap;
        width: 4.3rem;
      }
      .ubah-viZ {
        color: #2252ff;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 2.4rem;
        left: 88.8rem;
        line-height: 1.5;
        position: absolute;
        text-decoration-line: underline;
        top: 56.4rem;
        white-space: nowrap;
        width: 4.3rem;
      }
      .ellipse-16-RfK {
        border: solid 0.2rem #8b4513;
        border-radius: 1rem;
        box-sizing: border-box;
        height: 2rem;
        left: 67.3rem;
        position: absolute;
        top: 69.3rem;
        width: 2rem;
      }
      .ellipse-18-XCZ {
        border: solid 0.2rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        box-sizing: border-box;
        height: 2rem;
        left: 82rem;
        position: absolute;
        top: 69.3rem;
        width: 2rem;
      }
      .ellipse-17-CZb {
        background-color: #8b4513;
        border-radius: 0.5rem;
        height: 1rem;
        left: 67.8rem;
        position: absolute;
        top: 69.8rem;
        width: 1rem;
      }
      .group-2724-hmF {
        align-items: center;
        background-color: #ffffff;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 62.8rem;
        left: 10.6rem;
        padding: 3.4rem 3.2rem 12.3rem 3.2rem;
        position: absolute;
        top: 26.2rem;
        width: 31rem;
      }
        .ellipse-14-Yms {
          background-image: url('neg.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border-radius: 7.75rem;
          flex-shrink: 0;
          height: 15.5rem;
          margin: 0rem 4.6rem 1.3rem 4.5rem;
          width: calc(100% - 9.1rem);
        }
        .username11-1vM {
          color: #8b4513;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          margin-right: 0.1rem;
          text-align: center;
          white-space: nowrap;
        }
        .edit-profile-Kg9 {
          color: #606367;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.5;
          margin: 0rem 0.1rem 3.9rem 0rem;
          text-align: center;
          text-decoration-line: underline;
          white-space: nowrap;
        }
        .frame-44-QSh {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
        }
          .frame-53-wxR {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;
          }
            .frame-49-gv1 {
              align-items: flex-start;
              display: flex;
              flex-shrink: 0;
              margin: 0rem 9.7rem 1.4rem 1rem;
              width: calc(100% - 10.7rem);
            }
              .user-zfo {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.2rem;
              }
              .akun-saya-gBF {
                color: #8b4513;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
              }
            
            .frame-47-oWm {
              align-items: center;
              background-color: #fffacd;
              color: #8b4513;
              display: flex;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              height: 4.7rem;
              justify-content: center;
              line-height: 1.5;
              margin-bottom: 0.4rem;
              white-space: nowrap;
              width: 100%;
            }
            .frame-50-GfF {
              align-items: center;
              color: #8b4513;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              height: 4.7rem;
              justify-content: center;
              line-height: 1.5;
              white-space: nowrap;
              width: 100%;
            }
          
          .frame-52-ZuF {
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            padding: 1rem 6.4rem 1rem 1rem;
            width: 100%;
          }
            .cheque-HqF {
              flex-shrink: 0;
              height: 3.2rem;
              margin-right: 1rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
            .pesanan-saya-p4V {
              color: #8b4513;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              margin-bottom: 0.5rem;
              white-space: nowrap;
            }
     
      .group-2718-U93 {
        height: 17rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 151.2rem;
      }
        .web-url-oSD {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
          .tabs-bar-9W5 {
            align-items: center;
            background: linear-gradient(180deg, #dfe1e5 0.6%, #dfe1e5 99.4%);
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            height: 4.2rem;
            padding: 0.8rem 116.577rem 0rem 1.301rem;
            width: 100%;
          }
            .core-traffic-lights-catalina-rfP {
              align-items: center;
              column-gap: 0.8005rem;
              display: flex;
              flex-shrink: 0;
              height: calc(100% - 2.2rem);
              margin: 0.8rem 0.5rem 1.4rem 0rem;
            }
              .close-jz5 {
                flex-shrink: 0;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.2008rem;
              }
              .minimize-sKb {
                flex-shrink: 0;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.2008rem;
              }
              .fullscreen-oyw {
                flex-shrink: 0;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.2008rem;
              }
            
            .tab-Lys {
              align-items: center;
              background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/GWKV5kjbtneRM1B7BuymEZ/files/vector/d366c92a20ff5ac3b97dc779acdc7bccb5fae8128b616072910b915059833e599f11f036da4ba1437396e960ca80583878c0c8667246329a99fef56320e8bb12?hash=eb76e19a5a0e5ab66d49081a17f26b8c522f10084a8d38ccdb01e014e0468310');
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              box-sizing: border-box;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              margin-right: 0.8005rem;
              padding: 0.7rem 2.001rem 0.7rem 1.901rem;
            }
              .favicon-replace-me-T2u {
                flex-shrink: 0;
                height: 1.6rem;
                margin-right: 0.7005rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.8012rem;
              }
              .tab-title-m3b {
                flex-shrink: 0;
                height: 2rem;
                margin-right: 0.7079rem;
                object-fit: contain;
                position: relative;
                vertical-align: top;
                width: 17.7117rem;
              }
              .tab-close-icon-gAZ {
                flex-shrink: 0;
                height: 0.793rem;
                margin-top: 0.0115rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.7935rem;
              }
            
            .new-tab-icon-9K3 {
              flex-shrink: 0;
              height: 1.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.2008rem;
            }
          
          .background-ELV {
            align-items: center;
            background-color: #ffffff;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding-top: 0.4rem;
            width: 100%;
          }
            .auto-group-ppmt-AV3 {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              height: 2.8rem;
              margin: 0rem 2.051rem 0.45rem 1.551rem;
              width: calc(100% - 3.6024rem);
            }
              .actions-rcm {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                height: calc(100% - 1.5rem);
                margin: 0.75rem 1.501rem 0.75rem 0rem;
              }
                .back-arrow-icon-a2y {
                  flex-shrink: 0;
                  height: 1.2281rem;
                  margin: 0rem 1.901rem 0.053rem 0rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.3009rem;
                }
                .forward-arrow-icon-5Ed {
                  flex-shrink: 0;
                  height: 1.2281rem;
                  margin: 0rem 1.901rem 0.053rem 0rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.3009rem;
                }
                .refresh-icon-ax5 {
                  flex-shrink: 0;
                  height: 1.3rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.3509rem;
                }
              
              .address-bar-XMX {
                align-items: center;
                background-color: #f1f3f4;
                border-radius: 1.4rem;
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                height: 100%;
                margin-right: 2.0514rem;
                padding: 0.55rem 123.39rem 0.55rem 1.401rem;
              }
                .secure-icon-2ZB {
                  flex-shrink: 0;
                  height: 1.05rem;
                  margin: 0.05rem 0.999rem 0rem 0rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 0.8005rem;
                }
                .url-kEH {
                  color: #202124;
                  display: flex;
                  flex-shrink: 0;
                  font-family: Roboto, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  white-space: nowrap;
                }
              
              .menu-icon-eKf {
                flex-shrink: 0;
                height: 1.3rem;
                margin-top: 0.02rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.3002rem;
              }
            
            .separator-A37 {
              background-color: #b6b6b6;
              flex-shrink: 0;
              height: 0.05rem;
              width: 100%;
            }
       
        .navbar-login-V5P {
          align-items: center;
          background-color: #fffacd;
          box-sizing: border-box;
          display: flex;
          height: 9.1rem;
          padding: 2.4rem 10.6rem 2.2rem 10.8rem;
        }
          .local-step-naH {
            color: #8b4513;
            cursor: pointer;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 900;
            line-height: 1.1725;
            margin-right: 3.2rem;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
          }
          .brand-ttD {
            color: #8b4513;
            cursor: pointer;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            margin-right: 4.7rem;
            text-align: center;
            white-space: nowrap;
          }
          .kategori-QrZ {
            color: #8b4513;
            cursor: pointer;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            margin-right: 56rem;
            text-align: center;
            white-space: nowrap;
          }
          .vector-LER {
            cursor: pointer;
            flex-shrink: 0;
            height: 2.1rem;
            margin-right: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.1rem;
          }
          .fi-shopping-cart-GNy {
            cursor: pointer;
            flex-shrink: 0;
            height: 2.4rem;
            margin: 0rem 2.3rem 0.3rem 0rem;
            object-fit: contain;
            position: relative;
            vertical-align: top;
            width: 2.4rem;
          }
          .fi-heart-BF3 {
            cursor: pointer;
            flex-shrink: 0;
            height: 2.4rem;
            margin: 0rem 3.4rem 0.3rem 0rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
          }
          .group-2730-hDP {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            height: 100%;
          }
            .username11-FEu {
              color: #8b4513;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              margin: 0rem 2.2rem 0.2rem 0rem;
              text-align: center;
              white-space: nowrap;
            }
            .ellipse-14-9bB {
              background-image: url('neg.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              border-radius: 2.25rem;
              flex-shrink: 0;
              height: 4.5rem;
              width: 4.5rem;
            }
   